// View Glass - - Card Grid DIsplay

//////// All card grids ////////

.resources-grid-container {

	&.card-grid-4 {
		// mobile-large and down / device breakpoint styling
		@include media(max, map-get($breakpoints, mobile-large)) {
			margin-left: rem(-5px);
			margin-right: rem(-5px);
			}
		}

	// mobile-large and down / device breakpoint styling
	@include media(max, map-get($breakpoints, mobile-large)) {
		margin-left: rem(-10px);
		margin-right: rem(-10px);
		}

	}


//////// 3 up card grids ////////

.card-grid-3 {

    // tablet-large and up / device breakpoint styling
	@include media(min, map-get($breakpoints, tablet-large)) {

        .card-container { min-height: rem(470px); }

        .card-item .card-header { min-height: rem(75px); }

		}

    }


//////// 4 up card grids ////////

.card-grid-4 {

    .card-header { margin: 0; }

    .card-grid-wrapper { overflow: hidden; }

	.card-container { min-height: rem(370px); }

	// mobile-large and down / device breakpoint styling
	@include media(max, map-get($breakpoints, mobile-large)) {

        .card-container { min-height: auto !important; }

		}

    }


//////// Filter grid css ////////

.filter-grid {

    .grid-filter-gutter { width: 0; } // Sets grid margin for javascript filtering tools https://isotope.metafizzy.co/layout-modes/fitrows.html

    }
